<div>
<div class="container">
			<p class="clementine-text">Votejere</p>
			<p class="clementine-text">Create a Poll</p>
		</div>
		<div>
		    <form method="post" action="/poll" class="createpoll"><br>
                Question:<input type="text" name="question">
                <div name="choices" id="choices">
                	<label>Choices (comma-separated):</label>
                    <textarea type="text" name="choices"></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
		</div>
</div>