<div>
		<div class="container">
			<img src="/img/vote.jpeg" />
			<br />
			<p class="clementine-text">Votejere</p>
		</div>
		<div>
		{{#each poll}}
<h3><a href = "https://stvapp.herokuapp.com/poll/{{ this.id }}">{{ this.question }} | {{ this.creator }}</a></h3>
{{/each}}
</div>
</div>