<div>
		<div class="container">
			<img src="/img/vote.jpeg" />
			<br />
			<p class="clementine-text">Votejere</p>
		</div>
		<div>
		{{#each poll}}
<h3>{{ this.poll.question }} | {{ this.poll.creator.username }}</h3>
{{/each}}
</div>
</div>