<div>
    			<div class="twitter-profile">
				<img src="/img/Twitterbird.png" alt="twitter logo" />
				<p><span>ID: </span><span id="profile-id" >{{user.twitter.id}}</span></p>
				<p><span>Username: </span><span id="profile-username" {{user.twitter.username}}></span></p>
				<p><span>Display Name: </span><span id="display-name" >{{user.twitter.displayName}}</span></p>
<h2>Polls</h2>
<div class="twitter-profile">
{{#each user.polls}}
<h3>{{ this }}</h3>
{{/each}}
</div>
</div>