<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Votejere - A voting app</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

	<header>
		<p>Welcome, <span id="display-name">{{user.twitter.displayName}}</span>!</p>
		<a class="menu" href="/profile">Profile</a>
		<p>|</p>
		<a class="menu" href="/logout">Logout</a>
		<p>|</p>
		<a class="menu" href="/createpoll">Create Poll</a>
	</header>
	
<body>

    {{{body}}}

</body>
</html>