<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Votejere - A voting app</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
</head>

	<header>
		<p>Welcome, <span id="display-name">{{req.user.twitter.displayName}}</span>!</p>
		<a class="menu" href="/profile">Profile</a>
		<p>|</p>
		<a class="menu" href="/logout">Logout</a>
		<p>|</p>
		<a class="menu" href="/createpoll">Create Poll</a>
	</header>
	
<body>

    {{{body}}}

</body>
</html>